# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Next.js
client/.next/
client/out/
client/build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.local
.env*.local
client/.env*
server/.env*

# Misc
.DS_Store
*.pem
*.tsbuildinfo
client/next-env.d.ts

# Vercel
.vercel
